{# detail.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Sports life
{% endblock %}

{% block body %}
<h1>Liste des produits</h1>

{% if products is defined and products|length > 0 %}
    <ul>
        {% for product in products %}
            <li>
                <strong>Nom du produit:</strong> {{ product.name }}<br>
                <strong>Description:</strong> {{ product.description }}<br>
                <strong>Prix:</strong> {{ product.price }}<br>
                <strong>Stock:</strong> {{ product.stock }}<br>
                <strong>Date de création:</strong> {{ product.getCreatAt()|date('Y-m-d H:i:s') }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucun produit trouvé.</p>
{% endif %}

{% endblock %}
