
<footer>
        <div class="o-wrapper">
            <div class="contact">
            <a href="">h.achahboune@homtmail.fr</a>
            <a href="">45 Bv victor hugo 01000 Boug en bresse</a>
            <a href="">lundi au vendredi 9h30 - 12h / 13h - 19h</a>
            </div>


            <div class="information">
                    <a href="#">Conditions Générales de vente</a>
                    <a href="#">Mentions légales</a>
                    <a href="#">Informations de livraison</a>
            </div>
        <div class="social-media">
        <a href="#"><img src="{{ asset('assets/img/facebook.svg') }}" alt="Facebook Logo"></a>
                        <a href="#">
                        <img src="{{ asset('assets/img/twitter.svg') }}" alt="Twitter logo"></a>
                        <a href="#">
                        <img src="{{ asset('assets/img/instagram.svg') }}" alt="Instagram Logo"></a>
                        <a href="#">
                        <img src="{{ asset('assets/img/youtube.svg') }}" alt="YouTube Logo"></a>
                        <a href="#">
                        <img src="{{ asset('assets/img/github.svg') }}" alt="GitHub Logo"></a>
        </div>
        <div class="paimenent-carte">
        <img src="{{ asset('assets/img/paypal.png') }}" alt="Paypal Logo"></a>
                        <a href="#">
                        <img src="{{ asset('assets/img/visa.png') }}" alt="Visa logo"></a>
                        <a href="#">
                        <img src="{{ asset('assets/img/mc.png') }}" alt="Mc Logo"></a>
                        <a href="#">
                        <img src="{{ asset('assets/img/cb.png') }}" alt="Cb Logo"></a>
        </div>
   </div>

                    <h3>© E.SPORTS EQUIPEMTS 2023 </h3>
</footer>
