
<header>
<div  class="header-main"> 
        <div class="logo-burger">
                <img src="{{ asset('assets/img/logo-burger.png') }}" alt="Logo burger">
        </div>
        <div class="logo">
            <a href="">
                <img src="{{ asset('assets/img/logo.png') }}" alt="Logo de votre site">
            </a>
        </div>
         
        <div class="search-bar">
            <form action="" method="GET">
                <input type="text" name="query" placeholder="Rechercher...">
                <button type="submit">Rechercher</button>
            </form>
        </div>
        <div class="user">
        {# <a href="{{ path( 'app_register' )}}"> #}
                <img src="{{ asset('assets/img/user.png') }}" alt="user de votre site"><span>Mon compte</span>
            </a>
        </div>
        <div class="cart">
            <a href="">
                <img src="{{ asset('assets/img/shopping.png') }}" alt="panier de votre site"> <span>Mon panier</span> 
            </a>
        </div>
</div>
    <div class="categorie">
    <nav>

      <ul>
      <li><a href="{{ path( 'app_home' )}}">Accueil</a></li>
            <li><a href="">Sports Collectifs</a>
                <ul class="Collectifs">
                    <li><a href="">Football</a></li>
                    <li><a href="">Basket-ball</a></li>
                    {# <li><a href="">Handball</a></li>
                    <li><a href="">Rugby</a></li>
                    <li><a href="">Volley-ball</a></li>
                    <li><a href="">Sports US</a></li>
                    <li><a href="">Cyclisme</a></li>
                    <li><a href="">Pétanque</a></li> #}
                </ul>
            </li>
            <li><a href="">Sports Individuels</a>
                <ul class="Individuels">
                    <li><a href="">Athletisme</a></li>
                    <li><a href="">Natation</a></li>
                    {# <li><a href="">Raquette</a></li>
                    <li><a href="">Musculation</a></li>
                    <li><a href="">Combat</a></li> #}
                </ul>
            </li>
            <li><a href="">Ballons</a>
                <ul class="Ballons">
                    <li><a href="">football</a></li>
                    <li><a href="">basket</a></li>
                    {# <li><a href="">handball</a></li>
                    <li><a href="">rugby</a></li>
                    <li><a href="">Foot US</a></li> #}
                </ul>
            </li>
            <li><a href="">Materiel</a>
                <ul class="Materiel">
                    <li><a href="">Entraînement</a></li>
                    <li><a href="">Entretien</a></li>
                    {# <li><a href="">Accessoires</a></li>
                    <li><a href="">Rangement</a></li>
                    <li><a href="">Événements</a></li> #}
                </ul>
            </li>
      </ul>
    </nav>
  </div>
</header>

