{% extends 'base.html.twig' %}

{% block title %}Sports life
{% endblock %}

{% block body %}

	<section id="home-page">
		<div class="p-slider">
			<h3 class="product-slider-heading">Equipement Sportif</h3>


			<div class="glider-contain">
				<div class="glider">

					<div class="product-box">
						<div class="p-img-container">
							<div class="p-img">
								<a href="{{ path( 'app_product' )}}">
									<img
									src="{{ asset('assets/img/machine-basketball.png') }}" class="p-img-front" alt="front">
								{# <img src="{{ asset('assets/img/machine-basketball.png') }}"  class="p-img-back" alt="back"> #}
								</a>
							</div>
						</div>
						<div class="p-box-text">
							<div class="product-category">
								<span>Machine de shoot Dr.Dish REBEL +</span>
							</div>
							<a href="" class="product-title">Voir le detail</a>
							<div class="price-buy">
								<span class="p-price">105000£</span>
								<a href="" class="p-buy-btn">buy Now</a>
							</div>
						</div>

					</div>


					<div class="product-box">
						<div class="p-img-container">
							<div class="p-img">
								<a href="{{ path( 'app_product' )}}">
									<img
									src="{{ asset('assets/img/machine-basketball.png') }}" class="p-img-front" alt="front">
								{# <img src="{{ asset('assets/img/machine-basketball.png') }}"  class="p-img-back" alt="back"> #}
								</a>
							</div>
						</div>
						<div class="p-box-text">
							<div class="product-category">
								<span>Produit1</span>
							</div>
							<a href="" class="product-title">Voir le detail</a>
							<div class="price-buy">
								<span class="p-price">105000£</span>
								<a href="" class="p-buy-btn">buy Now</a>
							</div>
						</div>

					</div>

					<div class="product-box">
						<div class="p-img-container">
							<div class="p-img">
								<a href="{{ path( 'app_product' )}}">
									<img
									src="{{ asset('assets/img/machine-basketball.png') }}" class="p-img-front" alt="front">
								{# <img src="{{ asset('assets/img/machine-basketball.png') }}"  class="p-img-back" alt="back"> #}
								</a>
							</div>
						</div>
						<div class="p-box-text">
							<div class="product-category">
								<span>Produit1</span>
							</div>
							<a href="" class="product-title">Voir le detail</a>
							<div class="price-buy">
								<span class="p-price">105000£</span>
								<a href="" class="p-buy-btn">buy Now</a>
							</div>
						</div>

					</div>

					<div class="product-box">
						<div class="p-img-container">
							<div class="p-img">
								<a href="{{ path( 'app_product' )}}">
									<img
									src="{{ asset('assets/img/machine-basketball.png') }}" class="p-img-front" alt="front">
								{# <img src="{{ asset('assets/img/machine-basketball.png') }}"  class="p-img-back" alt="back"> #}
								</a>
							</div>
						</div>
						<div class="p-box-text">
							<div class="product-category">
								<span>Produit1</span>
							</div>
							<a href="" class="product-title">Voir le detail</a>
							<div class="price-buy">
								<span class="p-price">105000£</span>
								<a href="" class="p-buy-btn">buy Now</a>
							</div>
						</div>

					</div>

					<div class="product-box">
						<div class="p-img-container">
							<div class="p-img">
								<a href="{{ path( 'app_product' )}}">
									<img
									src="{{ asset('assets/img/machine-basketball.png') }}" class="p-img-front" alt="front">
								{# <img src="{{ asset('assets/img/machine-basketball.png') }}"  class="p-img-back" alt="back"> #}
								</a>
							</div>
						</div>
						<div class="p-box-text">
							<div class="product-category">
								<span>Produit1</span>
							</div>
							<a href="" class="product-title">Voir le detail</a>
							<div class="price-buy">
								<span class="p-price">105000£</span>
								<a href="" class="p-buy-btn">buy Now</a>
							</div>
						</div>

					</div>
					<div class="product-box">
						<div class="p-img-container">
							<div class="p-img">
								<a href="{{ path( 'app_product' )}}">
									<img
									src="{{ asset('assets/img/machine-basketball.png') }}" class="p-img-front" alt="front">
								{# <img src="{{ asset('assets/img/machine-basketball.png') }}"  class="p-img-back" alt="back"> #}
								</a>
							</div>
						</div>
						<div class="p-box-text">
							<div class="product-category">
								<span>Produit1</span>
							</div>
							<a href="" class="product-title">Voir le detail</a>
							<div class="price-buy">
								<span class="p-price">105000£</span>
								<a href="" class="p-buy-btn">buy Now</a>
							</div>
						</div>

					</div>

				</div>


			</div>
			<div class="slider-btns">
				<button aria-label="Previous" class="glider-prev">
					<span><</span></button>
					<button aria-label="Next"class="glider-next"><span>></span>

				</button>

			</div>

		</div>


	</section>


{% endblock %}
